$border-color: #c4c7ce;
$primary: #bbd84f;
$light-green: #edffa7;
$red: #fc5531;
$deep-blue: #93b2e3;
$light-blue: #92abd5;

$text-color-1: #222;
$text-color-2: rgb(24, 25, 28);
$text-color-3: rgb(148, 153, 160);
